html {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}
body {
    margin: 0;
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    width: 100%;

    -webkit-tap-highlight-color: transparent;
}

#splash {
    display: block;
    /*position: absolute;*/
    height: 50vh;
    width: 100%;
    z-index: 10;
    background-color:#007bff;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#splash-img {
    width: 100%;
    height: auto;
    display: none;
}

#myCanvas{
    width: 1500px;
    height: 1876px;
    display: none;
    /*filter: blur(30px);*/
}

#blurCanvas{
    width: 1500px;
    height: 1876px;
    display: none;
    /*filter: blur(30px);*/
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#application-canvas.fill-mode-NONE {
    margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas:focus {
    outline: none;
}